footer{
    color: $color-white;
    background: $bg-dark;
    padding: 42px 0 64px;
    .footer-container{
        max-width: 1264px;
        margin: 0 auto;

        .footer-newsletter{
            margin-bottom: 50px;
            .main-text{
                @include flex-between;
                margin-bottom: 29px;
                div      
                {
                 
                    h3 {
                        color:#F5FEFF;
                        font-family: $font-inter;
                        font-size: 21px;
                        font-weight: 700;
                        letter-spacing: -0.3px;
                        margin-bottom: 5px;
                        
                    }
                    p {
                        font-size: $fs-xxs;
                    }
                }
            }

            .footer-form {
                position: relative;
                input{
                    height: 62px;
                    padding: 0 21px;
                    font-size: 14px;
                }
                button{
                    position: absolute;
                    right: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $color-white;
                    background: $bg-dark;
                    width: 100px;
                    height: 51px;
                    text-align: center;
                }
            }

            .footer-social{
                @include flex-simple;
                button{
                    @include flex-center;
                    background: $color-white;
                    border-radius: 50%;
                    width: 51.1px;
                    height: 51.1px;
                    margin-right: 5px;
                }
            }
            
        }
        .footer-middle{
            @include flex-simple-start;
            margin-bottom: 53px;
            .footer-column {
                margin-right: 37px;
                h4 {
                    color: $color-white;
                    font-family: $font-inter;
                    font-size: 21px;
                    font-weight: 700;
                    letter-spacing: -0.3px;
                    margin-bottom: 2px;
                }
                ul {
                    li {
                        a {
                            color: #EFF7FA;
                            opacity: 0.4;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .footer-bottom{
            position: relative;
            .footer-copy{
                color: #EFF7FA;
                opacity: 0.4;
                font-size: 14px;
            }
            .footer-disclaimer{
                border: 2px solid rgba(255, 255, 255, 1);
                border-radius: 17px;
                opacity: 0.1;
                width: 300px;
                padding: 13px;
                position: absolute;
                right: 0;
                bottom: 0;
                p{
                    color: rgba(239, 247, 250, 1);
                    font-size: 12px;
                    font-size: 11px;
                    line-height: 13px;
                }
            }
        }
    }
}