html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-main;
  font-size: 18px;     
  font-weight: 400;
  line-height: 1.5;
  color: $color-primary;
  -webkit-font-smoothing: antialiased;
}

ul, p{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
  color: $color-primary;
}

ul li{
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.btn-yellow-large{
  width: 314px;
  height: 56px;
  border-radius: $radius-md;
  background-color: rgba(255, 186, 0, 1);
  @include flex-center;
  color: $color-primary;
}


