.topbar {
    background-color: #ffba00;
    @include flex-center;
    padding: 0.4rem 0;  
  
    p {
      margin: 0;        
      font-family: $font-main;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.33px;
    }
  }

header{
    border-bottom: 1px solid $color-primary;
    .header-container{
        height: 65px;
        @include flex-between;
        padding: 5px 20px;

        .header-left{
            @include flex-simple;
            .logo {
                margin-left: 15px;
            }
        }
        .header-right{
            @include flex-simple;

            .button-started{
                color: $color-white;
                width: 201px;
                height: 46px;
                border-radius: 35px;
                background-color: rgba(34, 36, 48, 1);
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .cart{
                width: 36.52px;
                height: 32.88px;
                margin-left: 20px;
                position: relative;
            }
        }     
    }

    
  }
  

