.hero {
    height: 757px;
    padding: 90px 88px;
    background: linear-gradient(
      232deg,
      rgba(70, 78, 112, 1) 0%,
      rgba(32, 55, 70, 1) 100%
    );
    @include respond-max($bp-xs) {
        height: auto;
        padding: 10% 5%;
    }

    .hero-container {
        max-width: $container-width;
        margin: $m-center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        position: relative;
        .hero-main-img{
            position: absolute;
            width: 611.98px;
            right: 30px;
            top: -30px;
            @include respond-max($bp-xs) {
                width: 100%;
                position: relative;
                top: auto;
                left: 5%;
            }
        }

        .hero-text-main{
            h1{
                color: rgba(255, 250, 246, 1);
                font-family: $font-inter;
                font-size: $fs-xxl;
                font-weight: 900;
                letter-spacing: -1.07px;
                text-transform: uppercase;
                line-height: 55px;
                margin-bottom: 19px;
                @include respond-max($bp-xs) {
                    font-size: 36px;
                    line-height: 1.015;
                    margin-bottom: 5%;
                }
            }
            p{
                color: $color-white;
                font-size: 18px;
                font-weight: 400;
                text-transform: uppercase;
                line-height: 24px;
                margin-bottom: 21px;
            }

        }
        .hero-review {
            color: $color-white;
            font-family: $font-main;
            @include respond-max($bp-xs) {
                margin-top: 10%;
            }
            .review-stars{
                margin-bottom: 10px
            }
            .reviewer{
                @include flex-simple;
                margin-top: 18px;
                img{
                    width: 39px;
                    height: 39px;
                    margin-right: 9px;
                }
            }
        }

    }
  }
  