@mixin flex-simple {
  display: flex;
  align-items: center;
}

@mixin flex-simple-start {
  display: flex;
  align-items: flex-start;
}


@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-between-start {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@mixin flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


@mixin respond-max($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin respond-min($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
