// routine section

.routine {
    padding: 42px 0;
    @include respond-max($bp-xs) {
        padding: 10% 5%;
      }
    .routine-container{
        max-width: $container-width;
        margin: $m-center;
        .note-yellow{
            background-color: rgba(255, 186, 0, 1);
            text-align: center;
            border-radius: 28.5px;
            padding: 18px 0;
            margin-bottom: 82px;
            @include respond-max($bp-xs) {
                padding: 5%;
                margin-bottom: 12.5%;
              }
            p {
                @include respond-max($bp-xs) {
                    font-size: $fs-xs;
                    line-height: 1.35;
                  }
                  span{
                    text-decoration: underline;
                    text-underline-offset: 5px;
                    font-size: $fs-xxs;
                  
            }
          
            }
        }
        .main-content{
            @include flex-between-start ;
            @include respond-max($bp-xs) {
                flex-direction: column-reverse;
              }
            .routine-text{
                width: 52%;
                @include respond-max($bp-xs) {
                    width: 100%;
                  } 
                h2{
                    color: $color-secondary;
                    font-size: $fs-xxxl;
                    font-weight: 900;
                    letter-spacing: -1.33px;
                    line-height: 72px;
                    margin-bottom: 37px;
                    @include respond-max($bp-xs) {
                        font-size: 64px;
                        letter-spacing: -1.33px;
                        line-height: 0.9;
                        margin-bottom: 7.5%;
                      } 
                }
                p{
                    width: 545px;
                    border-bottom: 2px solid #EFF7FA;
                    padding-bottom: 25px;
                    margin-bottom: 26px;
                    @include respond-max($bp-xs) {
                        width: 100%;
                        font-size: $fs-xs;
                        line-height: 1.35;
                      } 
                }
            ul  {
                li{
                    @include flex-simple;
                    img{
                        margin-right: 13px;
                    }
                 
                }
                li + li{
                    margin-top: 6px;
                }
            }
            }
            .routine-image{
                width: 45%;
                @include respond-max($bp-xs) {
                    width: 100%;
                    padding: 0 5%;
                    margin-bottom: 10%
                  }
            }
        }
        .routine-features{
            @include flex-between;
            background: $color-white;
            margin-top: 67px;
            padding: 74px 38px;
            border-radius: 52px;
            @include respond-max($bp-xs) {
                flex-direction: column;
                padding: 10% 5%;
              } 
            .feature {
                @include flex-simple;
                @include respond-max($bp-xs) {
                    margin-bottom: 7.5%;
                    justify-content: space-between;
                    width: 100%;
                  } 
                img{
                    margin-right: 19px;
                    width: 135px;
                    @include respond-max($bp-xs) {
                        width: 100px;
                        margin-right: 0;
                      } 
                }
                p{
                    @include respond-max($bp-xs) {
                        width: calc(100% - 120px);
                      } 
                }
            }
            .feature:last-child{
                @include respond-max($bp-xs) {
                    margin-bottom: 0;
                  } 
            }
        }
    }
}

// how section

.how{
    border-bottom: 1.5px solid rgba(70, 79, 110, 0.2);
    .how-container{
        max-width: $container-width;
        margin: $m-center;
        padding: 74px 0;
        @include respond-max($bp-xs) {
            padding: 10% 5%;
          }
        .how-kicker{
            text-align: center;
            color: $color-secondary;
        }
        .how-icon{
            img {
                margin: 45px auto;
                @include respond-max($bp-xs) {
                    margin: 7.5% auto;
                  }
            }
        }
        h2 {
            color: $color-secondary;
            font-family: $font-inter;
            font-size: $fs-xxxl;
            font-weight: 900;
            letter-spacing: -1.33px;
            text-align: center;
            line-height: 52px;
            text-transform: uppercase;
            margin-bottom: 90px;
            @include respond-max($bp-xs) {
                font-size: 48px;
                line-height: 1.05;
                margin-bottom: 10%;
              }
        }
        .how-steps{
            @include flex-between-start;
            @include respond-max($bp-xs) {
                flex-direction: column;
              }
            article{
                width: 26%;
                @include respond-max($bp-xs) {
                    width: 100%;
                    padding: 0 10%;
                    margin-bottom: 15%;
                  }
                .how-step-media{
                    position: relative;
                    margin-bottom: 22px;
                    img{
                        width: 100%;
                        border-radius: 50px;
                    }
                    span{
                        @include flex-center;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background: $color-white;
                        position: absolute;
                        top: 26px;
                        left: 26px;
                        font-size: 26px;
                        font-weight: 900;
                        border: 1px solid $color-primary;
                        @include respond-max($bp-xs) {
                            top: 20px;
                            left: 20px;
                            width: 40px;
                            height: 40px;
                            font-size: 22px;
                          }
                    }
                }
                .how-step-product{
                    @include flex-simple;
                    padding-right: 10px;
                    p {
                        @include respond-max($bp-xs) {
                            font-size: $fs-xs;
                            line-height: 1.35;
                          }
                    }
                }
            }
            article:nth-child(2),
            article:first-child{
                .how-step-product{
                   img{
                    width: 65px;
                    margin-right: 20px;
                   }
                }
            }
            article:last-child{
                .how-step-product{
                   img{
                    width: 40px;
                    margin-right: 20px;
                   }
                }
            }
        }
    }
}

// results section

.results{
    padding: 73px 0;
    @include respond-max($bp-xs) {
        padding: 10% 0;
      }
    .results-top{
        text-align: center;
        @include respond-max($bp-xs) {
            padding: 0 5%;
          }
        h2{
            color: $color-secondary;
            font-family: $font-inter;
            font-size: 50px;
            font-weight: 900;
            letter-spacing: -0.83px;
            line-height: 52px;
            @include respond-max($bp-xs) {
                font-size: 36px;
                line-height: 1.05;
              }
        }
        p {
            width: 702px;
            margin: 26px auto;
            @include respond-max($bp-xs) {
                width: auto;
                margin: 5% auto;
                font-size: $fs-xs;
                line-height: 1.25;
              }
        }
        p + p{
            margin-bottom: 59px;
        }
    }

    .results-hero{
        position: relative;
        .results-quote{
            color: #EFF7FA;
            font-family: "Inter", sans-serif;
            font-size: 50px;
            font-weight: 900;
            letter-spacing: -0.83px;
            position: absolute;
            top: 30%;
            line-height: 50px;
            right: 11%;
            @include respond-max($bp-xs) {
                font-size: 20px;
                top: 15%;
                line-height: 1.05;
                right: 2.5%;
              }
        }
    }
    .results-marquee{
        overflow: hidden;
        width: 100%;
        padding-top: 30px;
        @include respond-max($bp-xs) {
            padding-top: 3.5%;
          }
        .results-marquee-inner{
            width: max-content;
            animation: marquee 30s linear infinite;
            @include flex-simple;
            .marquee-item{
                @include flex-simple;
                margin-left: 33px;
                @include respond-max($bp-xs) {
                    font-size: 15px;
                  }
                img {
                    margin-right: 9px;
                }
                span{
                    font-family: $font-inter;
                    font-size: 20px;
                    font-weight: 900;
                    @include respond-max($bp-xs) {
                        font-size: $fs-xs;
                      }
                }
            }
        }
    }
}

@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

//section benefits

.benefits{
    padding: 18px 0 98px;
    border-bottom: 2px solid $color-secondary;
    @include respond-max($bp-xs) {
        padding: 10% 5%;
      }
    .benefits-container{
       max-width: $container-width;
       margin: $m-center;
       .benefits-header{
        margin-bottom: 51px;
         h2{
            color: $color-secondary;
            font-family: $font-inter;
            font-size: 50px;
            font-weight: 900;
            letter-spacing: -0.83px;
            line-height: 52px;
            margin-bottom: 15px;
            @include respond-max($bp-xs) {
                font-size: 36px;
                line-height: 1.05;
              }
         }
       }
       .benefits-cards{
        @include flex-between-start;
        @include respond-max($bp-xs) {
            flex-direction: column;
          }
            .benefit-card{
                width: 28.5%;
                @include respond-max($bp-xs) {
                    width: 100%;
                    margin-bottom: 12.5%;
                    padding: 0 10%;
                  }
                .benefit-image{
                    margin-bottom: 33px;
                    img{
                        border-radius: 19px;
                    }
                }
                h3{
                    min-height: 44px;
                    font-size: 23px;
                    font-weight: 900;
                    line-height: 22px;
                    color: $color-secondary;
                    letter-spacing: -0.83px;
                    margin-bottom: 20px;
                }
                p{
                    font-size: 15px;
                    line-height: 20px;
                }
            }
       }
    }
}

//formulas 

.formulas {
    background: #292A35;
    padding: 141px 0;
    @include respond-max($bp-xs) {
        padding: 15% 5% 7.5%;
      }
    .formulas-container{
        max-width: $container-width;
        margin: 0 auto;
        .formulas-header {
            text-align: center;
            margin-bottom: 108px;
            @include respond-max($bp-xs) {
                margin-bottom: 15%;
              }
            .formulas-pill{
                border-radius: 28.5px;
                background-color: #ffba00;
                width: 256px;
                padding: 5px 0;
                display: inline-block;
                margin-bottom: 68px;
                @include respond-max($bp-xs) {
                    margin-bottom: 10%;
                  }
            }
            h2{
                font-size: $fs-xxxl;
                color: $color-off-white;
                line-height: 54px;
                letter-spacing: -1.33px;
                font-weight: 900;
                font-family: $font-inter;
                margin-bottom: 21px;
                @include respond-max($bp-xs) {
                    font-size: 58px;
                    line-height: 52px;
                    margin-bottom: 2.5%;
                  }
            }
            p{
                color: $color-white;
                span{
                    text-decoration: underline;
                    text-underline-offset: 5px;
                }
            }
        }
        .formulas-list{
            margin-bottom: 138px;
            @include respond-max($bp-xs) {
                margin-bottom: 15%;
              }
            .formula{
                @include flex-center;
                gap: 50px;
                margin-bottom: 20px;
                @include respond-max($bp-xs) {
                    flex-direction: column;
                  }
                .formula-text {
                    width: 366px;
                    @include respond-max($bp-xs) {
                       width: 100%;
                      }
                    h3{
                        font-size: 50px;
                        font-weight: 900;
                        letter-spacing: -0.83px;
                        color: $color-off-white;
                        font-family: $font-inter;
                        line-height: 1.04;
                        margin-bottom: 18px;
                        @include respond-max($bp-xs) {
                            font-size: 36px;
                           }
                    }
                    p{
                        color: $color-white;
                        @include respond-max($bp-xs) {
                            font-size: $fs-xs;
                           }
                    }
                }
                .formula-image{
                    width: 366px;
                }
            }
            .formula:first-child{
                img {
                    width: 202px;
                    margin: $m-center;
                }
            }
            .formula:nth-child(2){
                flex-direction: row-reverse;
                @include respond-max($bp-xs) {
                    flex-direction: column;
                  }
                img{
                    width: 280px;
                    margin: $m-center;
                }
            }
            .formula:last-child{
                img{
                    height: 381px;
                    margin: $m-center;
                }
            }
        }
        .testimonials{
            padding: 0 40px;
            @include respond-max($bp-xs) {
                padding: 0;
              }
            .testimonials-kicker{
                color: #FFBA00;
                text-align: center;
                margin-bottom: 57px;
                @include respond-max($bp-xs) {
                    margin-bottom: 7.5%
                  }
            }
            .testimonials-list{
                @include flex-between-start;
                @include respond-max($bp-xs) {
                    flex-direction: column;
                  }
                .testimonial-card{
                    width: 378px;
                    height: 247px;
                    border-radius: 39px;
                    background-color: rgba(239, 247, 250, 1);
                    padding: 20px;
                    @include respond-max($bp-xs) {
                        width: 100%;
                        height: auto;
                        margin-bottom: 5%;
                      }
                    .testimonial-stars{
                        margin-bottom: 15px;
                    }
                    .testimonial-quote{
                        font-size: $fs-xs;
                        color: #434C6C;
                        line-height: 1.25;
                        min-height: 100px;
                        @include respond-max($bp-xs) {
                        min-height: auto;
                        margin-bottom: 5%
                        }
                    }
                    .testimonial-footer{
                        @include flex-simple;
                        .testimonial-avatar{
                            width: 54px;
                            height: 54px;
                            @include flex-center;
                            font-size: 24px;
                            font-weight: 500;
                            color: $color-secondary;
                            border: 2px solid $color-secondary;
                            border-radius: 50%;
                            margin-right: 10px;
                        }
                        .testimonial-meta{
                            .testimonial-name{
                                color: #434C6C;
                                font-family: $font-inter;
                                font-size: 15px;
                                font-weight: 600;
                                letter-spacing: -0.09px;
                            }
                            .testimonial-role{
                                font-size: 12px;
                                color: #434C6C;
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }
    }
}
