$color-primary: #000;        
$color-white: #fff;

$bg-dark: #222430;

$font-main: 'Roboto Mono', monospace;
$font-inter: "Inter", sans-serif;

$radius-pill: 50px;
$radius-md: 50px;
$radius-sm: 4px;

$fs-xxs: 14px;    
$fs-xs: 16px; 
$fs-sm: 18px;       
$fs-md: 20px;  
$fs-lg: 22px;  
$fs-xl: 24px;      
$fs-xxl: 36px;    
$fs-xxxl: 54px;      
