@charset 'utf-8';

@import 'settings';

@import 'variables';
@import 'mixins';

@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

@import 'global';

@include foundation-xy-grid-classes;


@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-range-input;
@include foundation-switch;
@include foundation-table;

@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

@import 'header';
@import 'hero';
@import 'top';
@import 'footer';

@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;

@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;


@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;


@include motion-ui-transitions;
@include motion-ui-animations;
